* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: white;
}

/* font-family: 'Monoton', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif; */

/* -------------------------------------------------------- */

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* -------------------------------------------------------- */

header {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 { font-family: 'Montserrat', sans-serif; font-size: 38px; letter-spacing: 2px; padding-bottom: 28px; padding-top: 28px; }
h2 { font-family: 'Montserrat'; font-size: 29px; letter-spacing: 1px; margin-left: 30px; margin-right: 30px; }

/* -------------------------------------------------------- */

main {
  width: 100%;
  height: 60%;
}

.box-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  width: 370px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: double 8px transparent;
  border-radius: 80px;
  background-image: linear-gradient(black, black),
    radial-gradient(circle at top left, #5a6964, #42304d);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.box:hover { cursor: pointer; transform: scale(1.15); transition: 1s; }

a {
    text-decoration: none;
}

.box p {
  font-family: "Monoton", cursive;
  font-size: 39px;
  letter-spacing: 2px;
  color: white;
}

/* -------------------------------------------------------- */

.social-panel {
  width: 100%;
  height: 15%;
}

.social-holder {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-holder i {
  font-size: 55px;
}

.social-holder i:hover { cursor: pointer; transform: scale(1.5); transition: 0.8s; }

/* -------------------------------------------------------- */
/* CONTACT FORM */
.contact-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container p { font-size: 32px; }

.contact-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}

.contact-container form input {
  width: 420px;
  height: 60px;
}

.contact-container form button {
  width: 420px;
  height: 60px;
  margin-top: 36px;
}


.contact-container form textarea {
  width: 420px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea::placeholder {  text-align: center; line-height: 140px; font-size: 24px; }

/* -------------------------------------------------------- */
/* media queries */

@media screen and (max-width: 1250px) and (min-width: 1000px) {
    .container { }
    header { height: 30%; }
    h1 { font-size: 28px; }
    h2 { font-size: 25px; }
    main { height: 55%; }
    .box { width: 300px; height: 300px; }
    .box:hover { cursor: pointer; transform: scale(1.1); transition: 1s; }
    .box p { font-size: 32px; }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .container { height: 100%; }
    header { height: 350px; }
    h1 { font-size: 28px; }
    h2 { font-size: 25px; }
    .main { height: 100%; }
    .box-container { flex-wrap: wrap; }
    .box { width: 320px; height: 320px; margin: 40px; }
    .box3 { margin-bottom: 40px; }
    .box:hover { cursor: pointer; transform: scale(1.1); transition: 1s; }
    .box p { font-size: 32px; }
    .social-panel { padding-top: 40px; padding-bottom: 40px; }
}

@media screen and (max-width: 800px) and (min-width: 660px) {
    .container { height: 100%; }
    header { height: 350px; }
    h1 { font-size: 30px; }
    h2 { font-size: 25px; }
    .main { height: 100%; }
    .box-container { flex-wrap: wrap; }
    .box { width: 280px; height: 280px; margin: 30px; }
    .box3 { margin-bottom: 40px; }
    .box:hover { cursor: pointer; transform: scale(1.1); transition: 1s; }
    .box p { font-size: 29px; }
    .social-panel { padding-top: 40px; padding-bottom: 40px; }
    
}

@media screen and (max-width: 660px) and (min-width: 460px) {
    .container { height: 100%; }
    header { height: 350px; }
    h1 { font-size: 28px; }
    h2 { font-size: 24px; }
    .main { height: 100%; }
    .box-container { flex-wrap: wrap; }
    .box { width: 200px; height: 200px; margin: 20px; }
    .box3 { margin-bottom: 40px; }
    .box:hover { cursor: pointer; transform: scale(1.1); transition: 1s; }
    .box p { font-size: 28px; font-family: 'Ubuntu Condensed'; font-weight: bold; letter-spacing: 3px;}
    .social-panel { padding-top: 40px; padding-bottom: 40px; }
    
}

@media screen and (max-width: 460px) and (min-width: 1px) {
    .container { height: 100%; }
    header { height: 350px; }
    h1 { font-size: 28px; }
    h2 { font-size: 21px; }
    .main { height: 100%; }
    .box-container { flex-wrap: wrap; }
    .box { width: 150px; height: 150px; margin: 20px; }
    .box3 { margin-bottom: 40px; }
    .box:hover { cursor: pointer; transform: scale(1.1); transition: 1s; }
    .box p { font-size: 20px; font-family: 'Ubuntu Condensed'; font-weight: bold; letter-spacing: 3px;}
    .social-panel { padding-top: 40px; padding-bottom: 40px; }
    
}