* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: white;
}

/* font-family: 'Monoton', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif; */

/* -------------------------------------------------------- */

.container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;ż
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  height: 100px;
  border: 3px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 60%;
  height: 60%;
  text-align: center;
  font-size: 32px;
}

form button {
  width: 10%;
  height: 60%;
  font-size: 32px;
}

/* lista */
.todo-items {
  width: 80%;
  min-height: 600px;
  border: 3px solid lime;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-items li {
  width: 80%;
  height: 80px;
  margin: 20px;
  font-size: 32px;
  letter-spacing: 0.3px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

input[type="checkbox"] { margin: 20px; transform: scale(1.5); }
/* -------------------------------------------------------- */

/* applied when the todo item is checked */
.checked { 
  text-decoration: line-through;
}

.checkbox {
  margin-right: 10px;
  color: pink;
}

.delete-button {
  float: right;
  margin: 20px;
  padding: 6px;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-left: 10px;
  font-size: 1.6rem;
  font-weight: 550;
}


@media screen and (max-width: 460px) and (min-width: 1px) {

    
}