* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: white;
}

/* font-family: 'Monoton', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif; */

/* -------------------------------------------------------- */

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* -------------------------------------------------------- */



@media screen and (max-width: 460px) and (min-width: 1px) {

    
}