* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: white;
}

/* font-family: 'Monoton', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif; */

/* -------------------------------------------------------- */

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* -------------------------------------------------------- */

/* applied when the todo item is checked */
.checked { 
  color: pink;
}

.checkbox {
  margin-right: 10px;
  color: pink;
}

.delete-button {
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}


@media screen and (max-width: 460px) and (min-width: 1px) {

    
}